.DS_Store
__MACOSX
*.swp
*~

# Do not ignore this one.  This way github generated zip files
# will automatically still contain the minified version
jquery.uniform.min.js

# These files are created with bin/build
www/downloads/theme-kit.zip
www/downloads/uniform.*.theme.zip
www/images/bg-input*.png
www/images/sprite.png
www/index.html
www/javascripts/jquery.uniform.min.js
www/javascripts/themecss.js
www/stylesheets/uniform.aristo.css
www/stylesheets/uniform.default.css
