body {
	font: small "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
	float: left;
	clear: both;
	line-height: 20px;
	margin-bottom: 5px;
}

h2 {
	clear: left;
}

div.checker {
	height: 18px;
	width: 18px;
	overflow: hidden;
	border: solid 1px #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff url(img/bg.png) repeat-x left 10px;
	float: left;
	display: inline;
	margin-right: 10px;
	position: relative;
}

div.checker.focus {
	border-color: #999;
}

div.checker.focus span {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.checker span {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

div.checker span.checked {
	background: url(img/check.gif) no-repeat center center;
}

div.checker span input {
	position: absolute;
	opacity: 0;
}

/* Radio box */

div.radio {
	height: 19px;
	width: 19px;
	overflow: hidden;
	background: #fff url(img/bg.png) repeat-x left 10px;
	float: left;
	display: inline;
	margin-right: 10px;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: solid 1px #ddd;
}

div.radio.focus {
	border-color: #999;
}

div.radio.focus span {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
}

div.radio span {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

div.radio span.checked {
	background: url(img/radio.gif) no-repeat center center;
}

div.radio span input {
	position: absolute;
	opacity: 0;
}

/* Select Box */

div.selector {
	display: block;
	width: 150px;
	border: solid 1px #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	background: url(img/bg.png) repeat-x left 12px;
	line-height: 22px;
	margin-top: 3px;
	text-shadow: 0 1px 0 #fff;
	height: 22px;
	color: #444;
}

div.selector select {
	width: 150px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.selector.focus {
	border-color: #999;
}

div.selector span {
	position: absolute;
	left: 6px;
	top: 0px;
	font-size: 1.1em;
	padding: 0;
	display: block;
	padding-right: 20px;
	background: url(img/select.gif) no-repeat right 60%;
	right: 0;
}

div.selector.focus span {
	left: 5px;
}

div.selector select {
	position: relative;
	font-size: 1.1em;
	padding: 0;
	line-height: 23px;
	border: 0;
	margin: 0;
	padding-right: 40px;
}