@mixin hideYetClickable() {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	border: none;
	background: none;
}

@mixin inline-block() {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

@mixin ellipsis() {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($def) {
	-webkit-box-shadow: $def;
	-moz-box-shadow: $def;
	box-shadow: $def;
}

@mixin retina() {
	@media only screen {
		@media (min-resolution: 124dpi), (-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
			@include use-backgrounds(url($sprite-retina), $sprite-size, url($input-background-retina), url($input-background-focus-retina), $input-background-size);
		}
	}
}

@mixin use-backgrounds($sprite, $sprite-size, $input, $input-focus, $input-size) {
	div.#{$class-select},
	div.#{$class-select} span,
	div.#{$class-checkbox} span,
	div.#{$class-radio} span,
	div.#{$class-upload},
	div.#{$class-upload} span.#{$class-action},
	div.#{$class-button},
	div.#{$class-button} span {
		background-image: $sprite;
		background-size: $sprite-size;
	}

	input.#{$class-input},
	select.#{$class-multiselect},
	textarea.#{$class-textarea} {
		background-image: $input;
		background-size: $input-size;
	}

	input.#{$class-input}:focus,
	select.#{$class-multiselect}:focus,
	textarea.#{$class-textarea}:focus {
		background-image: $input-focus;
		background-size: $input-size;
	}
}

$sprite: "../images/sprite.png" !default;
$sprite-retina: "../images/sprite-retina.png" !default;
$sprite-size: 493px !default;
$button-height: 30px !default;
$button-margin-left: 13px !default;
$button-padding: 0 !default;
$button-span-height: $button-height !default;
$checkbox-height: 19px !default;
$checkbox-width: 19px !default;
$input-padding: 3px !default;
$input-background: "../images/bg-input.png" !default;
$input-background-retina: "../images/bg-input-retina.png" !default;
$input-background-focus: "../images/bg-input-focus.png" !default;
$input-background-focus-retina: "../images/bg-input-focus-retina.png" !default;
$input-background-size: 1px !default;
$radio-height: 18px !default;
$radio-width: 18px !default;
$select-fixed-width: 190px !default;
$select-height: 26px !default;
$select-margin-left: 10px !default;
$select-margin-right: 25px !default;
$select-select-height: 22px !default;
$select-select-top: 2px !default;
$upload-action-width: 85px !default;
$upload-filename-margin-top: 2px !default;
$upload-filename-margin-bottom: 2px !default;
$upload-filename-margin-left: 2px !default;
$upload-filename-width: 82px !default;
$upload-filename-padding: 0 10px !default;
$upload-height: 28px !default;
$upload-width: 190px !default;

$checkbox-voffset: (-10 * $select-height);
$radio-voffset: ($checkbox-voffset - $checkbox-height);
$upload-voffset: ($radio-voffset - $radio-height);
$button-voffset: ($upload-voffset - (8 * $upload-height));

$class-action: "action" !default;
$class-active: "active" !default;
$class-button: "button" !default;
$class-checkbox: "checker" !default;
$class-checked: "checked" !default;
$class-disabled: "disabled" !default;
$class-input: "uniform-input" !default;
$class-focus: "focus" !default;
$class-hover: "hover" !default;
$class-multiselect: "uniform-multiselect" !default;
$class-radio: "radio" !default;
$class-select: "selector" !default;
$class-upload: "uploader" !default;
$class-textarea: "uniform" !default;

/* General settings */

div.#{$class-select},
div.#{$class-select} span,
div.#{$class-checkbox} span,
div.#{$class-radio} span,
div.#{$class-upload},
div.#{$class-upload} span.#{$class-action},
div.#{$class-button},
div.#{$class-button} span {
	background-image: url($sprite);
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}

.#{$class-select},
.#{$class-checkbox},
.#{$class-button},
.#{$class-radio},
.#{$class-upload} {
	@include inline-block();
	vertical-align: middle;
}

.#{$class-select} select:focus,
.#{$class-radio} input:focus,
.#{$class-checkbox} input:focus,
.#{$class-upload} input:focus {
	outline: 0;
}

.#{$class-select},
.#{$class-radio},
.#{$class-checkbox},
.#{$class-upload},
.#{$class-button},
.#{$class-select} *,
.#{$class-radio} *,
.#{$class-checkbox} *,
.#{$class-upload} *,
.#{$class-button} * {
	margin: 0;
	padding: 0;
}

.highContrastDetect {
	background: url($input-background) repeat-x 0 0;
	width: 0px;
	height: 0px;
}

/* Input & Textarea */

input.text,
input.email,
input.search,
input.tel,
input.url,
input.datetime,
input.date,
input.month,
input.week,
input.time,
input.datetime-local,
input.number,
input.color,
input.password,
select.#{$class-multiselect},
textarea.uniform {
	padding: $input-padding;
	background: url($input-background) repeat-x 0 0;
	outline: 0;
}

/* Remove default webkit and possible mozilla .search styles */
div.#{$class-checkbox} input,
input.search,
input.search:active  {
	-moz-appearance: none;
	-webkit-appearance: none;
}

input.text:focus,
input.email:focus,
input.search:focus,
input.tel:focus,
input.url:focus,
input.datetime:focus,
input.date:focus,
input.month:focus,
input.week:focus,
input.time:focus,
input.datetime-local:focus,
input.number:focus,
input.color:focus,
input.password:focus,
select.#{$class-multiselect}:focus,
textarea.uniform:focus {
	background: url($input-background-focus) repeat-x 0 0;
}

/* Select */

div.#{$class-select} {
	background-position: 0 (-5 * $select-height);
	line-height: $select-height;
	height: $select-height;
	padding: 0 0 0 $select-margin-left;
	position: relative;
	overflow: hidden;
}

div.#{$class-select}.fixedWidth {
	width: $select-fixed-width;
}

div.#{$class-select} span {
	@include ellipsis();
	background-position: right 0;
	height: $select-height;
	line-height: $select-height;
	padding-right: $select-margin-right;
	cursor: pointer;
	width: 100%;
	display: block;
}

div.#{$class-select}.fixedWidth span {
	width: ($select-fixed-width - $select-margin-left - $select-margin-right);
}

div.#{$class-select} select {
	@include hideYetClickable();
	position: absolute;
	height: $select-select-height;
	top: $select-select-top;
	left: 0px;
	width: 100%;
}

div.#{$class-select}:active,
div.#{$class-select}.#{$class-active} {
	background-position: 0 (-6 * $select-height);
}

div.#{$class-select}:active span,
div.#{$class-select}.#{$class-active} span {
	background-position: right (-1 * $select-height);
}

div.#{$class-select}.#{$class-focus},
div.#{$class-select}.#{$class-hover},
div.#{$class-select}:hover {
	background-position: 0 (-7 * $select-height);
}

div.#{$class-select}.#{$class-focus} span,
div.#{$class-select}.#{$class-hover} span,
div.#{$class-select}:hover span {
	background-position: right (-2 * $select-height);
}

div.#{$class-select}.#{$class-focus}:active,
div.#{$class-select}.#{$class-focus}.#{$class-active},
div.#{$class-select}:hover:active,
div.#{$class-select}.#{$class-active}:hover {
	background-position: 0 (-8 * $select-height);
}

div.#{$class-select}.#{$class-focus}:active span,
div.#{$class-select}:hover:active span,
div.#{$class-select}.#{$class-active}:hover span,
div.#{$class-select}.#{$class-focus}.#{$class-active} span {
	background-position: right (-3 * $select-height);
}

div.#{$class-select}.#{$class-disabled},
div.#{$class-select}.#{$class-disabled}:active,
div.#{$class-select}.#{$class-disabled}.#{$class-active} {
	background-position: 0 (-9 * $select-height);
}

div.#{$class-select}.#{$class-disabled} span,
div.#{$class-select}.#{$class-disabled}:active span,
div.#{$class-select}.#{$class-disabled}.#{$class-active} span {
	background-position: right (-4 * $select-height);
}

/* Checkbox */

div.#{$class-checkbox},
div.#{$class-checkbox} span,
div.#{$class-checkbox} input {
	width: $checkbox-width;
	height: $checkbox-height;
}

div.#{$class-checkbox} {
	position: relative;
}

div.#{$class-checkbox} span {
	@include inline-block();
	text-align: center;
	background-position: 0 $checkbox-voffset;
}

div.#{$class-checkbox} input {
	@include hideYetClickable();
	@include inline-block();
}

div.#{$class-checkbox}:active span,
div.#{$class-checkbox}.#{$class-active} span {
	background-position: (-1 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}.#{$class-focus} span,
div.#{$class-checkbox}:hover span {
	background-position: (-2 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}.#{$class-focus}:active span,
div.#{$class-checkbox}:active:hover span,
div.#{$class-checkbox}.#{$class-active}:hover span,
div.#{$class-checkbox}.#{$class-focus}.#{$class-active} span {
	background-position: (-3 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox} span.#{$class-checked} {
	background-position: (-4 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}:active span.#{$class-checked},
div.#{$class-checkbox}.#{$class-active} span.#{$class-checked} {
	background-position: (-5 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}.#{$class-focus} span.#{$class-checked},
div.#{$class-checkbox}:hover span.#{$class-checked} {
	background-position: (-6 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}.#{$class-focus}:active span.#{$class-checked},
div.#{$class-checkbox}:hover:active span.#{$class-checked},
div.#{$class-checkbox}.#{$class-active}:hover span.#{$class-checked},
div.#{$class-checkbox}.#{$class-active}.#{$class-focus} span.#{$class-checked} {
	background-position: (-7 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}.#{$class-disabled} span,
div.#{$class-checkbox}.#{$class-disabled}:active span,
div.#{$class-checkbox}.#{$class-disabled}.#{$class-active} span {
	background-position: (-8 * $checkbox-width) $checkbox-voffset;
}

div.#{$class-checkbox}.#{$class-disabled} span.#{$class-checked},
div.#{$class-checkbox}.#{$class-disabled}:active span.#{$class-checked},
div.#{$class-checkbox}.#{$class-disabled}.#{$class-active} span.#{$class-checked} {
	background-position: (-9 * $checkbox-width) $checkbox-voffset;
}

/* Radio */

div.#{$class-radio},
div.#{$class-radio} span,
div.#{$class-radio} input {
	width: $radio-width;
	height: $radio-height;
}

div.#{$class-radio} {
	position: relative;
}

div.#{$class-radio} span {
	@include inline-block();
	text-align: center;
	background-position: 0 $radio-voffset;
}

div.#{$class-radio} input {
	@include hideYetClickable();
	@include inline-block();
	text-align: center;
}

div.#{$class-radio}:active span,
div.#{$class-radio}.#{$class-active} span {
	background-position: (-1 * $radio-width)-18px $radio-voffset;
}

div.#{$class-radio}.#{$class-focus} span,
div.#{$class-radio}:hover span {
	background-position: (-2 * $radio-width)-36px $radio-voffset;
}

div.#{$class-radio}.#{$class-focus}:active span,
div.#{$class-radio}:active:hover span,
div.#{$class-radio}.#{$class-active}:hover span,
div.#{$class-radio}.#{$class-active}.#{$class-focus} span {
	background-position: (-3 * $radio-width) $radio-voffset;
}

div.#{$class-radio} span.#{$class-checked} {
	background-position: (-4 * $radio-width) $radio-voffset;
}

div.#{$class-radio}:active span.#{$class-checked},
div.#{$class-radio}.#{$class-active} span.#{$class-checked} {
	background-position: (-5 * $radio-width) $radio-voffset;
}

div.#{$class-radio}.#{$class-focus} span.#{$class-checked},
div.#{$class-radio}:hover span.#{$class-checked} {
	background-position: (-6 * $radio-width) $radio-voffset;
}

div.#{$class-radio}.#{$class-focus}:active span.#{$class-checked},
div.#{$class-radio}:hover:active span.#{$class-checked},
div.#{$class-radio}.#{$class-focus}.#{$class-active} span.#{$class-checked},
div.#{$class-radio}.#{$class-active}:hover span.#{$class-checked} {
	background-position: (-7 * $radio-width) $radio-voffset;
}

div.#{$class-radio}.#{$class-disabled} span,
div.#{$class-radio}.#{$class-disabled}:active span,
div.#{$class-radio}.#{$class-disabled}.#{$class-active} span {
	background-position: (-8 * $radio-width) $radio-voffset;
}

div.#{$class-radio}.#{$class-disabled} span.#{$class-checked},
div.#{$class-radio}.#{$class-disabled}:active span.#{$class-checked},
div.#{$class-radio}.#{$class-disabled}.#{$class-active} span.#{$class-checked} {
	background-position: (-9 * $radio-width) $radio-voffset;
}

/* Uploader */

div.#{$class-upload} {
	background-position: 0 $upload-voffset;
	height: $upload-height;
	width: $upload-width;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

div.#{$class-upload} span.#{$class-action} {
	background-position: right ($upload-voffset + (-4 * $upload-height));
	height: $upload-height;
	line-height: $upload-height;
	width: $upload-action-width;
	text-align: center;
	float: left;
	display: inline;
	overflow: hidden;
	cursor: pointer;
}

div.#{$class-upload} span.filename {
	@include ellipsis();
	float: left;
	cursor: default;
	height: ($upload-height - $upload-filename-margin-top - $upload-filename-margin-bottom);
	margin: $upload-filename-margin-top 0 $upload-filename-margin-bottom $upload-filename-margin-left;
	line-height: ($upload-height - $upload-filename-margin-top - $upload-filename-margin-bottom);
	width: $upload-filename-width;
	padding: $upload-filename-padding;
}

div.#{$class-upload} input {
	@include hideYetClickable();
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	cursor: default;
	width: 100%;
	height: 100%;
}

div.#{$class-upload}.#{$class-focus},
div.#{$class-upload}.#{$class-hover},
div.#{$class-upload}:hover {
	background-position: 0 ($upload-voffset + (-2 * $upload-height));
}

div.#{$class-upload}.#{$class-focus} span.#{$class-action},
div.#{$class-upload}.#{$class-hover} span.#{$class-action},
div.#{$class-upload}:hover span.#{$class-action} {
	background-position: right ($upload-voffset + (-5 * $upload-height));
}

div.#{$class-upload}.#{$class-active} span.#{$class-action},
div.#{$class-upload}:active span.#{$class-action} {
	background-position: right ($upload-voffset + (-6 * $upload-height));
}

div.#{$class-upload}.#{$class-focus}.#{$class-active} span.#{$class-action},
div.#{$class-upload}:focus.#{$class-active} span.#{$class-action},
div.#{$class-upload}.#{$class-focus}:active span.#{$class-action},
div.#{$class-upload}:focus:active span.#{$class-action} {
	background-position: right ($upload-voffset + (-7 * $upload-height));
}

div.#{$class-upload}.#{$class-disabled} {
	background-position: 0 ($upload-voffset + (-1 * $upload-height));
}

div.#{$class-upload}.#{$class-disabled} span.#{$class-action} {
	background-position: right ($upload-voffset + (-3 * $upload-height));
}

/* Buttons */

div.#{$class-button} a,
div.#{$class-button} button,
div.#{$class-button} input {
	position: absolute;
	display: none;
}

div.#{$class-button} {
	background-position: 0 ($button-voffset + (-4 * $button-height));
	height: $button-height;
	cursor: pointer;
	position: relative;
}

div.#{$class-button} span {
	@include inline-block();
	line-height: 1;
	text-align: center;
	background-position: right $button-voffset;
	height: $button-span-height;
	margin-left: $button-margin-left;
	padding: $button-padding;
}

div.#{$class-button}.#{$class-focus},
div.#{$class-button}:focus,
div.#{$class-button}:hover,
div.#{$class-button}.#{$class-hover} {
	background-position: 0 ($button-voffset + (-6 * $button-height));
}

div.#{$class-button}.#{$class-focus} span,
div.#{$class-button}:focus span,
div.#{$class-button}:hover span,
div.#{$class-button}.#{$class-hover} span {
	background-position: right ($button-voffset + (-2 * $button-height)); 
}

div.#{$class-button}.#{$class-active},
div.#{$class-button}:active {
	background-position: 0 ($button-voffset + (-5 * $button-height));
}

div.#{$class-button}.#{$class-active} span,
div.#{$class-button}:active span {
	background-position: right ($button-voffset + (-1 * $button-height));
	cursor: default;
}

div.#{$class-button}.#{$class-disabled} {
	background-position: 0 ($button-voffset + (-7 * $button-height));
}

/* Separate from above due to IE8 */
div.#{$class-button}:disabled {
	background-position: 0 ($button-voffset + (-7 * $button-height));
}

div.#{$class-button}.#{$class-disabled} span {
	background-position: right ($button-voffset + (-3 * $button-height));
	cursor: default;
}

/* Separate from above due to IE8 */
div.#{$class-button}:disabled span {
	background-position: right ($button-voffset + (-3 * $button-height));
	cursor: default;
}
